body{
    color: /*rgb(6, 248, 78)*/black;
    background-color: white;/*rgb(0,0,0)*/
    margin: 0px;
    padding: 0px;
    
}
/*lE NAV*/
nav > ul{
    margin: 0px;
    padding: 0px;
}

nav > ul > li{
    float: left;
}

nav li{
    list-style-type: none;
}


.submenu{
    display: none;
}

nav{
    width: 100%;
    background-color: #424558;
}

nav > ul > li{
    float: left;
    position: relative;
    border-top: 5px solid #424558;
}

nav > ul::after{
    content: "";
    display: block;
    clear: both;
}

nav a{
    text-decoration: none;
    display: inline-block;
}


nav > ul > li > a{
    padding: 20px 30px;
    color: #FFF;
}



nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 100000;
}

.submenu li{
    border-bottom: 1px solid #CCC;
}


.submenu li a{
    padding: 20px 30px;
    font-size: 13px;
    color: #222538;
    width: 270px;
    
}


.li1n:hover{
    border-top: 5px solid rgb(160, 6, 6);
    background-color: rgba(145, 7, 7, 0.500);

}

.li2n:hover{
    border-top: 5px solid rgb(4, 179, 56);
    background-color: rgba(4, 179, 56, 0.5);
}

.li3n:hover{
    border-top: 5px solid rgb(4, 65, 179);
    background-color: rgba(4, 65, 179, 0.5);
}

.lin4:hover{
    border-top: 5px solid rgb(243, 180, 5);
    background-color: rgba(243, 180, 5, 0.5);
}


.li2n .submenu{
    background-color: rgb(7, 196, 64);
}

.submenu li:hover a{
    color:#EEE;
    font-weight: bold;
}

.li2n .submenu li:hover{
    background-color: rgba(4, 179, 56, 0.808);
}

#video:hover{
    border-top: 5px solid rgb(27, 161, 27);
    background-color: rgba(27, 161, 27, 0.5);
}

.lin5 .submenu{
    background-color: rgb(79, 196, 79);
}
.lin5 .submenu li:hover{
    background-color: rgba(79, 196, 79, 0.5)
}



#diveo1{
    padding: 700px;
}

/*LES LIENS*/
a{
    text-decoration: none;
    color: rgb(39, 39, 153);
}




/* LES ARTICLES: MINECRAFT, RED ECLIPSE ET ROBOCRAFT (EN DEHORS DE LEURS ONGLET)*/

.article{
    padding: 20px;
    display: inline-block;
    border: 2px solid black;
    color: black;
    
}

.article:hover{
    background-color: #77798a;
}


#guidemine{
    text-align: center;
    border: 2px solid black;
    padding: 20px;
}

#guidemine:hover{
    background-color: rgb(71, 196, 71);
    
}

#guidered{
    text-align: center;
    border: 2px solid black;
    padding: 20px;
}

#guidered:hover{
    background-color: red;
}

#guiderob{
    text-align: center;
    border: 2px solid black;
    padding: 20px;
}

#guiderob:hover{
    background-color: rgb(89, 89, 255);
}

.atuto{
    text-decoration: none;
    color: black;
}

.sectuto{
    display:inline-block;
}

.alert_jeux{
    padding: 30px;
    border: 2px solid black;
    background-color: yellowgreen;
    
}
/*lE FOOTER*/

.foot{
    height: 80px;
    padding-top: 30px;
    color: white;
    text-align: center;
    background-color: #222538;
}

/*LIENS VERS LES MINI-JEUX*/

.liensminijeux{
    padding: 20px;
    background-color: rgb(148, 148, 243);
    color: red;
    text-decoration: none;
    display: inline-block;
}
.liensminijeux:hover{
    background-color:rgba(148, 148, 243, 0.90);
    color: rgb(163, 1, 1);
}


/*LES IMAGES*/
.img1{
    max-height: 500px;
}

.img_craft{
    height: 154px;
    width: 339px;
}